<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/script.js" defer async></script>
    <title>Emoji game</title>
</head>
<body>
<p id="user-score"></p>
<form id="game" onsubmit="play(event)">
    <label for="choice" id="choiceLabel"></label>
    <select id="choice" name="choice"></select>
    <button type="submit">Submit</button>
</form>
<p id="result"></p>
</body>
</html>