body {
    background-color: black;
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    height: 35vh;
    width: auto;
}

#container {
    height: 35vh;
    width: 40vw;
    border: 5px solid yellow;
    border-radius: 20px;
}

button {
    background-color: #dddddd;
    border: 5px solid yellow;
    border-radius: 5px;
    margin: 25px;
    padding: 10px;
    font-size: 3vh;
    font-weight: bold;
}